* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #160f30;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

.razz-avatar {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.username {
    letter-spacing: 0.05em;
    filter:drop-shadow(2.5px 1px grey)
}

.discrim {
    font-size: 0.6em;
}

.plugs a {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 4px;
    padding-top: 2px;
    padding-left: 1px;
    line-height: 50px;
    border-radius: 50%; 
    background-color: #DB8842;
    color: #A15A20;
    text-align: center;
    font-size: 1.8em;
    box-shadow: 4px 2px #9C602F;
}

.plugs a:hover {
    color: gainsboro;
}

.plugs a:active {
    top: 2px;
    margin-left: 8px;
    margin-right: 0px;
    box-shadow: 0px 0px;
}

.left {
    padding-top: calc(250px - 128px);
    position: fixed;
    bottom: -150px;
    left: 80px;
    transition: bottom 1.5s ease 0s;
}

.left:hover {
    bottom: -25px;
}
#btn {
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: transparent;
    border: none;
}

#audio {
    display: none;
}
